        html{
            scroll-behavior: smooth;
        }
        *{
            padding: 0;
            margin: 0;
        }
        p{
            color: rgb(6, 22, 36);
            text-align: justify;
            text-indent: 15px;
            margin: 12px;
            border: 2px solid black;
            border-radius: 10px;
            box-sizing: border-box;
            padding: 20px;;
            
        }
        p::first-letter{
            color: rgba(13, 88, 29, 0.889);
            font-size: 3em;
        }
        h1,h2{
            text-align: center;
            padding: 10px;
            color:black;
            background: radial-gradient(circle, rgba(226,230,223,0.7488037451308649) 3%, rgba(66,224,25,0.7964227927499125) 98%);
            font-family: "roboto", sans-serif;
            border: 2px  rgba(10, 59, 69, 0.444);
            margin: 16px;
            border-radius: 10Px;
        }
        h3{
            text-align: center;
            color: aliceblue;
            background-color: black;
        }
        h4{
            text-align: center;
            color: black;
            background-color: rgba(77, 200, 234, 0.119);
            padding: 0;
            font-size: 2em;
        }
        body{
            background-color: rgba(128, 128, 128, 0.407);
        }
        div table{
            background:  linear-gradient(0deg, rgba(34,195,187,1) 13%, rgba(95,253,45,0.8916608879880077) 80%);
            font-size: 1,8em;
            width: 100%;
            padding: 16px;
            
            
        }
        div ul{
            background-color:rgba(255, 255, 255, 0.301);
            margin: 0;
            padding: 10px;
            
            

        }
        div video{
            display: inline-inline-block;
            width: 50%;
            height: 300px;
            background-color: black;
            padding: 0;
            margin: 20px;
        }
        div img:hover{
            transform: scale(1.05);
            transition: 0.6s ease-in-out;
            
        }
        
        
        p img{
            float: left;
            margin: 10px;
            width: 100px;
        }
        p:hover{
            background: black;
            color: white;
        }
        div{
            text-align: center;
            background-color: black;
            padding: 0;
            margin: 0;
        }
        ul{
            margin: 16px;
            list-style: none;
            margin-left: 80px;
        }
        li a{
                text-decoration: none;
                color: rgba(0, 0, 255, 0.758);
        }
            nav{
                /* position: fixed; */
                margin: 0;
                padding: 8px auto;
                background-color: rgba(196, 255, 250, 0.461);
                opacity: 0.9;
            }
            nav li{
                display: inline-block;
                text-align: center;
                text-transform: uppercase;
                font-weight: bold;
                padding: 16px;
                /* margin: 20px; */
            }
            #lodo{
                font-size: 2em;
                margin-right: 560px;
                padding-left:40px ;
                text-shadow: 9px 1px 4px #000000bd;
            }
            nav li a{
                color: black;
                font-size: 1.2em;
                text-transform: uppercase;
                background-color: aquamarine;
            }
            a:hover{
                /* border-bottom: 2px white solid; */
                color: white;
                background-color: black;
                cursor: pointer;
            }
            nav ul{
                margin: 0;
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                background-color: rgba(127, 255, 212, 0.614);
                line-height: 10px;
            }
            .icon{
                background-color: rgba(203,203,203,1);
                display: block;
                text-align:right;
                padding-right: 20px;
                
            }
            .icon a{
                font-size: 2em;
                padding: 10px;

            }
            .icon a:hover{
                color: rgba(0, 0, 255, 0.568);
                background-color: rgba(203,203,203,1);
                
            }
            button:hover{
                color: white;
                background-color: blue;
                
            }
            button{
                font-size: 1.3em;
            }
            section{
                padding-top: 80px;
            }
            .prt{
                transition: 0.8s ease-in-out;
            }
           .nd{
            padding: 30px;
            font-size: 2em;
            text-transform: uppercase;
           }
           .inst{
            /* color: #f92b55; */
           }
         